body {
  background-color: lightcyan;
}
#content {
  padding: 100px;
}
h1, h3, p {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4;
}
h1 {
  color: #222;
  font-size: 26px;
}
h3 {
  color: #222;
  font-size: 20px;
}
p {
  color: #444;
  font-size: 18px;
}
.puppies {
    max-width: 50%;
}
